version: "3.8"

services:
  app:
    container_name: server
    depends_on:
      - mysqldb
    restart: on-failure
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    networks:
      - userdb
    ports:
      - ${SPRING_LOCAL_PORT}:${SPRING_DOCKER_PORT}
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url": "jdbc:mysql://mysqldb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE?allowPublicKeyRetrieval=true&useSSL=false",
        "spring.datasource.username": "$MYSQLDB_USER",
        "spring.datasource.password": "$MYSQLDB_ROOT_PASSWORD",
        "spring.jpa.properties.hibernate.dialect": "org.hibernate.dialect.MySQL5InnoDBDialect",
        "spring.jpa.hibernate.ddl-auto": "update",
        "security.jwt.secret": "$JWT_SECRET",
        "spring.profiles.active": "impl",
        "header.allowed.origin": "$ALLOWED_ORIGIN",
        "admin.username": "$ADMIN_USERNAME",
        "admin.password": "$ADMIN_PASSWORD"
      }'
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true

  mysqldb:
    image: mysql
    restart: unless-stopped
    networks:
      - userdb
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - ${MYSQLDB_LOCAL_PORT}:${MYSQLDB_DOCKER_PORT}
    volumes:
      - db:/var/lib/mysql

volumes:
  db:
networks:
  userdb: